.navbar, :root, .foot, .Proj-main-div ,.intro-main-div{
  background-color: #222831 !important;
  color: white !important;
  
}
.intro-main-div{
  height: 600px;
  font-size: 100px;
  text-align: center;
  padding-top: 90px;
}


.nav-cont{
  margin-left: 960px !important;

}

.navbox:hover{
  border-radius: 10px;
  border: solid 1px grey;
  padding: 5px;
  background-color: black !important;
}



