/* @import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Playpen+Sans&display=swap');
.Navigation{
  color: rgb(0, 124, 72);
  text-align: left;
  margin: auto;
  font-weight: 600;
  padding: auto;
  width: 70%;
  font-family: Playpen Sans;
  font-size: 50px;
}
 */
.Navigation{
  font-weight: bold;
}